.palette {
    width: 570px;
}
@media (max-width: 570px) {
    .palette {
        width: 100%;
    }
}

.palette .box {
    background-color: #eee;
    width: 60px;
    height: 60px;
    position: relative;
}
.palette .box .color {
    display: block;
    position: absolute;
    font-size: 10px;
    color: #fff;
    top: 2px;
    left: 2px;
}
.palette .box.e00 {
    background-color: #1B2B34;
}
.palette .box.e01 {
    background-color: #343D46;
}
.palette .box.e02 {
    background-color: #4F5B66;
}
.palette .box.e03 {
    background-color: #65737E;
}
.palette .box.e04 {
    background-color: #A7ADBA;
}
.palette .box.e05 {
    background-color: #C0C5CE;
}
.palette .box.e06 {
    background-color: #CDD3DE;
}
.palette .box.e07 {
    background-color: #D8DEE9;
}
.palette .box.e08 {
    background-color: #EC5f67;
}
.palette .box.e09 {
    background-color: #F99157;
}
.palette .box.e0A {
    background-color: #FAC863;
}
.palette .box.e0B {
    background-color: #99C794;
}
.palette .box.e0C {
    background-color: #5FB3B3;
}
.palette .box.e0D {
    background-color: #6699CC;
}
.palette .box.e0E {
    background-color: #C594C5;
}
.palette .box.e0F {
    background-color: #AB7967;
}
